<h1>Welcome To RockPaperScissor</h1>



 <div style="text-align:left">
        <h2>Click Your Choice</h2>
    </div>
    <br />


  <div class="row">
        <div class="col-md-4">
            <button type="submit" class="btn btn-danger btn-lg" data-move="rock">Rock</button>
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-success btn-lg" data-move="paper">Paper</button>
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary btn-lg" data-move="scissors">Scissors</button>
        </div>
    </div>
	
	
	  